In [1]:
import math
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv('75000-out2-binary.csv')

In [3]:
data.head()

,Transaction Number,Chocolate Cake,Lemon Cake,Casino Cake,Opera Cake,Strawberry Cake,Truffle Cake,Chocolate Eclair,Coffee Eclair,Vanilla Eclair,...,Lemon Lemonade,Raspberry Lemonade,Orange Juice,Green Tea,Bottled Water,Hot Coffee,Chocolate Coffee,Vanilla Frappuccino,Cherry Soda,Single Espresso
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,3,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,5,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
item1_name = 'Chocolate Cake'
item2_name = 'Chocolate Coffee'

selection = data[[item1_name,item2_name]]

In [5]:
item1_count = selection[item1_name] == 1
item2_count = selection[item2_name] == 1

In [6]:
f = selection.groupby([item1_count,item2_count]).count()
print(f)

                                 Chocolate Cake  Chocolate Coffee
Chocolate Cake Chocolate Coffee
False          False                      65802             65802
               True                        2933              2933
True           False                       2962              2962
               True                        3303              3303

In [7]:
f00 = f[item1_name][0][0]
f01 = f[item1_name][0][1]
f10 = f[item2_name][1][0]
f11 = f[item2_name][1][1]

print(f00)
print(f01)
print(f10)
print(f11)

65802
2933
2962
3303

In [8]:
n1 = f11 + f10
n0 = f00 + f01

In [9]:
binary_corr = (f11*f00-f01*f10)/math.sqrt(n1*n0*n0*n1)
print("Binary correlation coefficient Î¦1: ",binary_corr)

Binary correlation coefficient Î¦:  0.48454355651

In [10]:
f11 = f[item1_name][0][0]
f01 = f[item1_name][0][1]
f10 = f[item2_name][1][0]
f00 = f[item2_name][1][1]

print(f00)
print(f01)
print(f10)
print(f11)

3303
2933
2962
65802

In [11]:
n1 = f11 + f10
n0 = f00 + f01

In [12]:
binary_corr = (f11*f00-f01*f10)/math.sqrt(n1*n0*n0*n1)
print("Binary correlation coefficient Î¦2: ",binary_corr)

Binary correlation coefficient Î¦:  0.4865915881

In [16]:
print("Variables are symmetric since Î¦1 & Î¦2 are almost the same.")

Variables are symmetric since Î¦1 & Î¦2 are almost the same.

In [17]:
chi_square = (binary_corr**2) * 75000
print("Ï‡2 coefficient: ", chi_square)

Ï‡2 coefficient:  17757.8530207

In [18]:
x = selection[item1_name]
y = selection[item2_name]

cos_xy = cosine_similarity(selection[item1_name].values.reshape(1, -1),
                           selection[item2_name].values.reshape(1, -1)).ravel()[0]
print(cos_xy)

0.528439146892